<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ffPath</title>
  <link rel="stylesheet" href="/css/landing.css">
</head>

<body>
<img src="/logo.png" alt="ffPath Logo" width="370">
  <div class="container">
    <h1>ffPath 🧭</h1>
    <p class="subtitle">Mari bagikan momen perjalananmu disini</p>

    <a class="btn btn-primary" href="/login">Login</a>
    <a class="btn btn-outline" href="/register">Register</a>
  </div>

</body>
</html>