<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="/css/register.css">
  
</head>
<body>
  <div class="card">
    <h1>Register ✏️</h1>

    <% if (error) { %>
      <ul class="message error">
    <% error.split(',').forEach(el => { %>
      <li><%= el %></li>
    <% }) %>
      </ul>
    <% } %>

    <form action="/register" method="post">
      <input type="text" name="username" placeholder="username">
      <input type="text" name="email" placeholder="email">
      <input type="password" name="password" placeholder="password">
      <input type="text" name="status" placeholder="status">
      <input type="text" name="avatarUrl" placeholder="avatar url">
      <button type="submit">Register</button>
    </form>

    <div class="footer-link">
      Sudah punya akun?
      <a href="/login">Login</a>
    </div>
  </div>
</body>
</html>